*{
    box-sizing: border-box;
}

body{
    background-color:black;
}

#foundation{
    width: 90%;
    max-width: 470px;
    background-image: linear-gradient(rgb(106, 196, 244), rgb(8, 143, 216));
    color: #fff;
    margin: 40px auto 0;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}

/*Input box CSS*/
#input1{
    border-radius: 25px;
    padding: 15px 50px;
    border: 0;
    background-color: rgb(217, 237, 244);
}

/*Button CSS*/
#button1{
    border: 0;
    border-radius: 25px;
    padding: 14px 20px;
    cursor: pointer;
    background-color: rgb(217, 237, 244);
}

/*Pic and header*/
.image img{
    margin-top: 30px;
    height: 150px;
    width: 150px;
    margin: 50px;
}

.image h1{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    margin: 1px;
}

.image h2{
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

/*Details*/
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px ;
    margin-top: 50px;
}

.column{
    display: flex;
    align-items: center;
    text-align: left;
}

.column img{
    width: 60px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.word1, .word2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -10px;
}
